{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1>Login</h1>
    {% if form.errors %}
        <p>
            Login information is not accurate please enter a valid info
        </p>
    {% else %}
        <p>Please, use the following form to log-in. If you don't have an
            account <a href="{% url "register" %}">register here</a></p>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" valud="Login">
        {#    <input type="hidden" value="{{ next }}">#}
    </form>
{% endblock %}